.product {
    background: #eee;
    border-radius: 6px;
    overflow: hidden;
}

.product-img {
    max-width: 100%;
    aspect-ratio: 14 / 9;
    object-fit: cover;
}

.product-header {
    padding: 0.75rem;
}

.product-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-cart {
    width: 100%;
    padding: 0.75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #333
}

.btn-cart button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: center;

    background: #2d3748;
    color: #fff;
    border: none;
    border-radius: 100%;
}


